body {
  min-width: 960px;
  font-size: 14px;
  font-family: "Cuprum", "PT Sans", sans-serif;
  color: black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header {
  width: auto;
  /*min-height: 320px;*/
  margin-bottom: 59px;
  background-color: rgb(241, 245, 247);
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
    /*border: 2px solid rgb(255, 0, 0);*/
}

.header-top {
  /*width: auto;*/
  margin-bottom: 48px;
  /*padding-bottom: 42px;*/
  background-color: rgb(41, 52, 73);
  /*background-color: rgb(25, 0, 0);*/
}

.header-logo {
  float: left;
  width: 220px;
  height: 32px;
  padding-top: 10px;
  /*margin*/
  /*padding-bottom: 10px;*/
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
  box-shadow: 0 5px 0 0 rgb(181, 41, 51);
  /*border-bottom: 5px solid rgb(181, 41, 51);*/
}

.header-logo:hover {
  background-color: rgb(202, 44, 55);
  border-color: rgb(154, 33, 42);
}

.header-logo:active {
  /*color: rgb(255, 255, 255);*/
  background-color: rgb(186, 39, 50);
  border-color: rgb(142, 30, 38);
}

.header-top form {
  float: left;
  width: 200px;
  /*padding: 13px 0;*/
}

form input[type="submit"] {
  font-size: 0;
}

.btn-search {
display: none;
}

form input[type="text"] {
  font-family: "Cuprum";
  font-size: 17px;
  padding-left: 38px;
  line-height: 18px;
  background-color: rgb(41, 52, 73);
  color: rgb(255, 255, 255);
}

.header-bookmarks,
.header-cart{
  position: relative;
  float: right;
  width: 90px;
  padding: 12px 0;
  padding-left: 50px;
  padding-right: 10px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.header-order {
  position: relative;
  float: right;
  width: 150px;
  padding: 12px 0;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(99, 166, 62);
  color: rgb(255, 255, 255);
}

.header-bookmarks::before,
.header-cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 20px;
  height: 20px;
  /*background: url("../img/spritesheet.png") no-repeat 0 0;*/
  opacity: 0.3;
}

.header-bookmarks::before {
  background: url("../img/icon-bookmark.png") no-repeat 0 0;
}

.header-cart::before {
  background: url("../img/icon-basket.png") no-repeat 0 0;
}

.header-bookmarks:hover,
.header-cart:hover {
  background-color: rgb(33, 42, 58);
}

.header-bookmarks:hover::before,
.header-cart:hover::before {
  opacity: 1;
}

.header-order:hover {
  background-color: rgb(95, 187, 45);
}

.header-bookmarks:active,
.header-cart:active {
  background-color: rgb(22, 29, 41);
  color: rgb(139, 142, 148);
}

.header-bookmarks:active::before,
.header-cart:active::before {
  opacity: 0.3;
}

.header-order:active {
  background-color: rgb(81, 133, 52);
  color: rgb(170, 195, 155);
}

.header-bookmarks-add,
.header-cart-add {
  background-color: rgb(238, 54, 67);
}

.header-middle {
  width: auto;
  margin-bottom: 39px;
}

.lids {
  float: left;
  width: 247px;
  margin-right: 20px;
  padding-left: 53px;
  font-size: 15px;
  line-height: 23px;
  font-style: italic;
  color: rgb(238, 54, 67);
  /*background-color: rgb(255, 0, 0);*/
}

.phone-address {
  float: left;
}

.phone {
  width: 175px;
  padding: 10px 0;
  padding-left: 70px;
  padding-right: 20px;

  /*font-weight: bold;*/
  font-size: 21px;
  line-height: 18px;
  /*text-align: center;*/
  color: rgb(238, 54, 67);
  border: 3px solid rgb(255, 255, 255);
}

.address {
  margin-top: 5px;
  text-align: center;
  /*padding-top: 10px;*/
  font-size: 14px;
  line-height: 24px;
  /*font-weight: bold;*/
  color: rgb(50, 66, 92);
}

.user-block {
  float: right;
  width: 300px;
}

.user-block-btn {
  float: right;
  margin-left: 10px;
  padding: 13px 24px;
  /*font-weight: bold;*/
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.user-block-info {
  float: right;
  padding: 10px;

}
.user-block-info a {
  font-weight: bold;
  color: rgb(50, 66, 92);
}



.main-menu {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  padding-left: 22px;
  font-size: 0;
  list-style: none;
  background-color: rgb(50, 66, 92);
}

.main-menu li {
  display: inline-block;
}

.main-menu a {
  display: block;
  padding: 18px 30px;
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(50, 66, 92);
  border-bottom: 5px solid rgb(41, 52, 73);
}

.main-menu a:hover {
  background-color: rgb(41, 52, 73);
}

.main-menu a:active {
  background-color: rgb(29, 39, 57);
  border-bottom: 5px solid rgb(29, 39, 57);
  color: rgb(134, 140, 149);
}

/*  ПромоБлок*/
.promo {
  /*position: relative;*/
  margin-bottom: 33px;
}

.promo-item {
  /*position: relative;*/
  float: right;
  display: block;
  width: 147px;
  height: 123px;

  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 23px;
  padding-right: 130px;
  /*font-size: 16px;*/
  color: rgb(255, 255, 255);
}

.promo-item:nth-child(3) {
  margin-left: 0;
}

.promo-item h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}

.promo-btn {
  display: block;
  width: 135px;
  padding: 10px 0;
  margin-left: 2px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: rgb(255, 255, 255);
}

.promo-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-material {
  background: rgb(246, 178, 45) url("../img/promo-1.png") no-repeat 213px 31px;
}

.promo-tool {
  background: rgb(74, 175, 222) url("../img/promo-2.png") no-repeat 197px 34px;
}

.promo-equipment {
  background: rgb(204, 121, 209) url("../img/promo-3.png") no-repeat 191px 31px;
}

.promo-discount {
  background: rgb(133, 209, 121) url("../img/promo-4.png") no-repeat 196px 26px;
}

.promo-shipping {
  background: rgb(246, 178, 45) url("../img/promo-5.png") no-repeat 191px 32px;
}

/* Промо Слайдер  */

.promo-slides {
  position: relative;
}

.promo-slide {
  position: relative;
  float: left;
  width: 620px;
  height: 266px;
}


.promo-slide2 {
  display: none;
}

.promo-slide h2 {
  position: absolute;
  top: 0;
  left: 26px;
  color: rgb(255, 255, 255);
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
  /*font-weight: bold;*/

}

.promo-slide p {
  position: absolute;
  top: 50px;
  left: 26px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgb(255, 255, 255);
}

.promo-btn-slider {
  position: absolute;
  width: 175px;
  top: 350px;
  left: 26px;
}

.promo-slide input[type="radio"] {
  position: absolute;
  top: 200px;
  left: 300px;
}

/*   Популярные товары   */
.popular {

}

.popular-title {
  /*width: auto;*/
  background-color: rgb(247, 243, 236);

  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  vertical-align: middle;
}

.popular-title h2 {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 3px;
  font-weight: lighter;

  color: rgb(50, 66, 92);
  /*background-color: rgb(255, 0, 0);*/
}

.btn {
  padding: 10px 10px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
  border-radius: 3px;
}

.btn:hover {
  background-color: rgb(202, 44, 55);
}

.btn:active {
  background-color: rgb(186, 39, 50);
}

.popular-btn {
  float: right;
  width: 233px;
  /*margin-top: 25px;*/
}

.product-list {
  margin-bottom: 20px;
  font-size: 0;
  vertical-align: top;
}

.product-item,
.brand-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  vertical-align: top;
  border: 1px solid rgb(229, 229, 229);
}

.product-item img {
  position: absolute;
  margin-left: -100px;
  /*margin-top: -70px;*/
  top: 10px;
  left: 50%;
}

.product-name {
  position: absolute;
  bottom: 96px;
  left: 0;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
}

 .product-price,
 .product-price-strike {
  position: absolute;
  padding: 12px 35px;
  font-size: 14px;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-price-strike {
  bottom: 60px;
  left: 42px;
  text-decoration: line-through;
  color: rgb(153, 153, 153);
}

.product-price {
  bottom: 20px;
  left: 42px;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
  border-radius: 3px;
}


.product-list .product-item:nth-child(4n),
.brand-item:nth-child(4n) {
  margin-right: 0;
}

.product-item {
  height: 316px;
}

.product-item-new {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;
  width: 60px;
  height: 60px;
  background: url("../img/new.png") no-repeat 0 0;
}



.brand-list {
  margin-bottom: 65px;
  font-size: 0;
  vertical-align: top;
}

.brand-item {
  height: 143px;
  margin-bottom: 20px;
}

.brand-item img {
  position: absolute;
  margin-left: -100px;
  margin-top: -60px;
  top: 50%;
  left: 50%;
}

.product-item:hover,
.brand-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brand-item:active img {
  opacity: 0.5;
}


/*   Сервис   */
.services {
  margin-bottom: 80px;
  padding-top: 70px;
  background-color: rgb(242, 246, 248);
}

.services h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: lighter;
}

.services p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  /*font-weight: bold;*/
}

.service-tabs {
  position: relative;
  float: left;
  width: 240px;
  height: 280px;
  margin-right: 80px;
  padding-top: 25px;
  padding-bottom: 45px;
}

.service-tab {
  width: 200px;
  height: 27px;
  padding: 17px 20px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(50, 66, 92);
  box-shadow:
    inset 0 -2px 0 0 rgb(41, 52, 73),
    inset 0 2px 0 0 rgb(64, 80, 105);
  /*margin-bottom: 5px;*/
}

.service-tab-checked {
  color: rgb(50, 66, 92);
  background-color: rgb(255, 255, 255);
  box-shadow:
    inset 0 -2px 0 0 rgb(234, 234, 234),
    inset 0 2px 0 0 rgb(246, 246, 246);
}

.service-shipping {
  position: absolute;
  top: 50px;
  left: 0;
}

.service-guarantee {
  position: absolute;
  top: 111px;
  left: 0;
}

.service-credit {
  position: absolute;
  top: 172px;
  left: 0;
}


.service-tabs::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 10px;
  height: 279px;
  /*background-color: rgb(255, 0, 0);*/
  background: url("../img/vert-shadow.png") no-repeat 0 0;
}

.service-tabslides {
  float: left;
  width: 400px;
}

.service-tabslides h3 {
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgb(50, 66, 92);
}

.service-tabslides p {
  width: auto;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding-bottom: 30px;
}

.service-btn {
  /*padding: 14px 40px;*/
  /*text-decoration: none;*/
  /*color: rgb(255, 255, 255);*/
  /*background-color: rgb(238, 54, 67);*/
}

.serv-2, .serv-3 {
  display: none;
}

 /*  Компания - Контакты  */
.about {
  float: left;
  width: 530px;
}

.about-contacts h2 {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-contacts p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about li {
  font-size: 18px;
  line-height: 20px;
  /*font-weight: bold;*/
  padding-bottom: 15px;
}

.about-btn,
.contacts-btn {
  /*padding: 14px 40px;*/
  /*text-decoration: none;*/
  /*font-size: 14px;*/
  /*line-height: 18px;*/
  /*text-transform: uppercase;*/
  /*color: rgb(255, 255, 255);*/
  /*background-color: rgb(238, 54, 67);*/
}

.about ul {
  margin-bottom: 40px;
}

.contacts {
  float: right;
  width: 320px;
  margin: 0 10px;
}

.contacts img {
  margin: 40px 0;
}

/*  Футер  */
footer {
  width: auto;
  margin-top: 85px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(50, 66, 92);
}

.footer-logo {
  float: left;
  width: 220px;
  height: 23px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
  border-bottom: 5px solid rgb(181, 41, 51);
}

.footer-address {
  float: left;
}

.footer-address p {
  font-size: 18px;
  line-height: 24px;
}

.footer-menu-top,
.footer-menu-bottom {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

 .footer-menu-top {
   margin-top: 35px;
 }

.footer-menu-top li,
.footer-menu-bottom li {
  display: inline-block;
  margin-right: 60px;
  font-size: 18px;
  line-height: 24px;

}

.footer-menu-top li:last-child,
.footer-menu-bottom li:last-child {
  margin-right: 0;
}

.footer-menu-top a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.footer-menu-bottom a {
  text-decoration: none;
  color: rgb(255, 209, 128);
}

.footer-middle {
  padding-top: 30px;
  padding-bottom: 35px;
}



.footer-bottom {
  padding: 15px 0;
  background-color: rgb(41, 52, 73);
}

.footer-bottom p span {
  color: rgb(255, 209, 128);
}

.footer-copyright {
  float: left;
  width: 320px;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
}

.footer-social {
  float: right;
  width: 150px;
  padding-top: 25px;
  text-align: center;
}

.social-vk, .social-fb, .social-ig {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.footer-feedback {
  float: right;
  width: 160px;
  margin-left: 60px;
}

.footer-design {
  float: right;
  width: 150px;
  margin-left: 40px;
}

.footer-design p,
.footer-feedback p


/*  Хлебные крошки*/
.breadcrumbs {
  margin-bottom: 25px;
}

.breadcrumbs a {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
}


.cat-header {
  margin-bottom: 20px;
  padding: 32px 30px;
  background-color: rgb(242, 246, 248);
}

.cat-header h1 {
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(50, 66, 92);
}

.cat-title {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: rgb(247, 243, 236);
}

.cat-title h3 {
  float: left;
  font-size: 12px;
  text-transform: uppercase;
}

.cat-title a {
  float: right;
  padding: 13px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.sort-down {
  margin-left: 20px;
}

.sort-up {
  margin-left: 45px;
}

.sort-function {
  margin-left: 65px;
}

.sort-type {
  margin-left: 70px;
}

/*  Фильтр  */
.cat-filter {
  float: left;
  width: 220px;
}

/*  Каталог  */
.cat-product {
  float: right;
  width: 700px;
}

.catalog-product-list {
  margin-bottom: 20px;
  font-size: 0;
  vertical-align: top;
}

.catalog-product-list .product-item {
  margin-bottom: 20px;
}

.catalog-product-list .product-item:nth-child(3n) {
  margin-right: 0;
}


.cat-nav {
  margin-bottom: 60px;
  font-size: 0;
}


.cat-nav li {
  display: inline-block;
  margin-right: 10px;
  padding: 19px 20px;
  font-size: 16px;
  text-align: center;
  border: 1px solid rgb(229, 229, 229);
}

.cat-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.cat-text {
  padding: 32px 30px;
  background-color: rgb(242, 246, 248);
}
