body {
  min-width: 960px;
  font-size: 14px;
  font-family: "Cuprum", "PT Sans", sans-serif;
  color: black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header {
  width: auto;
  /*min-height: 320px;*/
  margin-bottom: 60px;
  background-color: rgb(241, 245, 247);
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
    /*border: 2px solid rgb(255, 0, 0);*/
}

.header-top {
  /*width: auto;*/
  margin-bottom: 45px;
  padding-bottom: 42px;
  background-color: rgb(41, 52, 73);
  /*background-color: rgb(25, 0, 0);*/
}

.header-logo {
  float: left;
  width: 220px;
  height: 32px;
  padding-top: 10px;
  /*margin*/
  /*padding-bottom: 10px;*/
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
  border-bottom: 5px solid rgb(181, 41, 51);
}

.header-logo:hover {
  background-color: rgb(202, 44, 55);
  border-color: rgb(154, 33, 42);
}

.header-logo:active {
  /*color: rgb(255, 255, 255);*/
  background-color: rgb(186, 39, 50);
  border-color: rgb(142, 30, 38);
}

header form {
  float: left;
  width: 270px;
  padding: 13px 0;
}

form input[type="submit"] {
  font-size: 0;
}

.btn-search {
display: none;
}

form input[type="text"] {
  font-family: "Cuprum";
  font-size: 17px;
  padding-left: 38px;
  line-height: 18px;
  background-color: rgb(41, 52, 73);
  color: rgb(255, 255, 255);
}

.header-bookmarks a,
.header-cart a {
  float: right;
  width: 90px;
  padding: 12px 0;
  padding-left: 50px;
  padding-right: 10px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  color: rgb(255, 255, 255);

}

.header-bookmarks a {
    background-image: url("img/icon-basket.png");
    background-position: left top;
  /*background-position: 5px 5px;*/
}

.header-order a {
  float: right;
  width: 150px;
  padding: 12px 0;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(99, 166, 62);
  color: rgb(255, 255, 255);
}

.header-bookmarks a:hover,
.header-cart a:hover {
  background-color: rgb(33, 42, 58);
  /*color: rgb(255, 0, 0);*/
}

.header-order a:hover {
  background-color: rgb(95, 187, 45);
}

.header-bookmarks a:active,
.header-cart a:active {
  background-color: rgb(22, 29, 41);
  color: rgb(139, 142, 148);
}

.header-order a:active {
  background-color: rgb(81, 133, 52);
  color: rgb(170, 195, 155);
}

.header-middle {
  width: auto;
  margin-bottom: 45px;
}

.lids {
  float: left;
  width: 250px;
  margin-right: 10px;
  padding-left: 55px;
  font-size: 17px;
  line-height: 23px;
  font-style: italic;
  color: rgb(238, 54, 67);
}

.phone-address {
  float: left;
}

.phone {
  width: 264px;
  padding: 10px;
  /*font-weight: bold;*/
  font-size: 21px;
  line-height: 18px;
  text-align: center;
  color: rgb(238, 54, 67);
  border: 3px solid rgb(255, 255, 255);
}

.address {
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
  /*font-weight: bold;*/
  color: rgb(50, 66, 92);
}

.user-block {
  float: right;
  width: 300px;
}

.user-block-btn {
  float: right;
  margin-left: 10px;
  padding: 13px 24px;
  /*font-weight: bold;*/
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.user-block-info {
  float: right;
  padding: 10px;

}
.user-block-info a {
  font-weight: bold;
  color: rgb(50, 66, 92);
}



nav {
  width: auto;
  margin-bottom: 60px;
  padding: 20px 0;
  background-color: rgb(50, 66, 92);
  border-bottom: 5px solid rgb(41, 52, 73);
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 60px;
}

nav li:last-child {
  margin-right: 0;
}

nav li a {
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/*  ПромоБлок*/
.promo {
  margin-bottom: 53px;
}

.promo-item {
  float: right;
  width: 277px;
  height: 123px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 23px;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.promo-item:nth-child(3) {
  margin-left: 0;
}

.promo-item h3 {
  font-size: 24x;
  line-height: 30px;
}

.promo-btn {
  display: block;
  width: 135px;
  padding: 13px 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-material {
  background-color: rgb(246, 178, 45);
}

.promo-tool {
  background-color: rgb(74, 175, 222);
}

.promo-equipment {
  background-color: rgb(204, 121, 209);
}

.promo-discount {
  background-color: rgb(133, 209, 121);
}

.promo-shipping {
  background-color: rgb(246, 178, 45);
}

/* Промо Слайдер  */
.promo-slide {
  float: left;
  width: 620px;
  height: 266px;
}

.promo-slide2 {
  display: none;
}

.promo-slide h2 {
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
}

.promo-slide p {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

/*   Популярные товары   */
.popular-title {
  width: auto;
  background-color: rgb(247, 243, 236);
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.popular-title h2 {
  float: left;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(50, 66, 92);
}

.btn {
  padding: 15px 10px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
  border-radius: 3px;
}

.popular-btn {
  float: right;
  width: 253px;
}

.product-list {
  margin-bottom: 20px;
  font-size: 0;
  vertical-align: top;
}

.product-item,
.brand-item {
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;

  text-align: center;
  vertical-align: top;
  border: 1px solid rgb(229, 229, 229);
}

.product-item p {
  padding: 0 30px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.product-price-strike {
  display: block;
  margin-bottom: 15px;
  /*font-weight: bold;*/
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: line-through;
  color: rgb(153, 153, 153);
}

.product-price {
  padding: 12px 35px;
  font-size: 14px;
  /*font-weight: bold;*/
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
}

.product-list .product-item:nth-child(4n),
.brand-item:nth-child(4n) {
  margin-right: 0;
}

.product-item {
  height: 316px;
}

.brand-list {
  margin-bottom: 65px;
  font-size: 0;
  vertical-align: top;
}

.brand-item {
  height: 145px;
  margin-bottom: 20px;
}

/*   Сервис   */
.services {
  margin-bottom: 80px;
  padding-top: 65px;
  background-color: rgb(242, 246, 248);
}

.services h2 {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service-tabs {
  float: left;
  width: 240px;
  margin-right: 80px;
  padding-top: 25px;
  padding-bottom: 45px;
}

.service-tab {
  width: auto;
  padding: 20px 23px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(50, 66, 92);
}

.service-tabslides {
  float: left;
  width: 400px;
}

.service-tabslides h3 {
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgb(50, 66, 92);
}

.service-tabslides p {
  width: auto;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding-bottom: 30px;
}

.service-btn {
  /*padding: 14px 40px;*/
  /*text-decoration: none;*/
  /*color: rgb(255, 255, 255);*/
  /*background-color: rgb(238, 54, 67);*/
}

.serv-2, .serv-3 {
  display: none;
}

 /*  Компания - Контакты  */
.about {
  float: left;
  width: 530px;
}

.about-contacts h2 {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-contacts p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about li {
  font-size: 18px;
  line-height: 20px;
  /*font-weight: bold;*/
  padding-bottom: 15px;
}

.about-btn,
.contacts-btn {
  /*padding: 14px 40px;*/
  /*text-decoration: none;*/
  /*font-size: 14px;*/
  /*line-height: 18px;*/
  /*text-transform: uppercase;*/
  /*color: rgb(255, 255, 255);*/
  /*background-color: rgb(238, 54, 67);*/
}

.about ul {
  margin-bottom: 40px;
}

.contacts {
  float: right;
  width: 320px;
  margin: 0 10px;
}

.contacts img {
  margin: 40px 0;
}

/*  Футер  */
footer {
  width: auto;
  margin-top: 85px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(50, 66, 92);
}

.footer-logo {
  float: left;
  width: 220px;
  height: 23px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
  border-bottom: 5px solid rgb(181, 41, 51);
}

.footer-address {
  float: left;
}

.footer-address p {
  font-size: 18px;
  line-height: 24px;
}

.footer-menu-top,
.footer-menu-bottom {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

 .footer-menu-top {
   margin-top: 35px;
 }

.footer-menu-top li,
.footer-menu-bottom li {
  display: inline-block;
  margin-right: 60px;
  font-size: 18px;
  line-height: 24px;

}

.footer-menu-top li:last-child,
.footer-menu-bottom li:last-child {
  margin-right: 0;
}

.footer-menu-top a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.footer-menu-bottom a {
  text-decoration: none;
  color: rgb(255, 209, 128);
}

.footer-middle {
  padding-top: 30px;
  padding-bottom: 35px;
}



.footer-bottom {
  padding: 15px 0;
  background-color: rgb(41, 52, 73);
}

.footer-bottom p span {
  color: rgb(255, 209, 128);
}

.footer-copyright {
  float: left;
  width: 320px;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
}

.footer-social {
  float: right;
  width: 150px;
  padding-top: 25px;
  text-align: center;
}

.social-vk, .social-fb, .social-ig {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.footer-feedback {
  float: right;
  width: 160px;
  margin-left: 60px;
}

.footer-design {
  float: right;
  width: 150px;
  margin-left: 40px;
}

.footer-design p,
.footer-feedback p


/*  Хлебные крошки*/
.breadcrumbs {
  margin-bottom: 25px;
}

.breadcrumbs a {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
}


.cat-header {
  margin-bottom: 20px;
  padding: 32px 30px;
  background-color: rgb(242, 246, 248);
}

.cat-header h1 {
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(50, 66, 92);
}

.cat-title {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: rgb(247, 243, 236);
}

.cat-title h3 {
  float: left;
  font-size: 12px;
  text-transform: uppercase;
}

.cat-title a {
  float: right;
  padding: 13px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.sort-down {
  margin-left: 20px;
}

.sort-up {
  margin-left: 45px;
}

.sort-function {
  margin-left: 65px;
}

.sort-type {
  margin-left: 70px;
}

/*  Фильтр  */
.cat-filter {
  float: left;
  width: 220px;
}

/*  Каталог  */
.cat-product {
  float: right;
  width: 700px;
}

.catalog-product-list {
  margin-bottom: 20px;
  font-size: 0;
  vertical-align: top;
}

.catalog-product-list .product-item {
  margin-bottom: 20px;
}

.catalog-product-list .product-item:nth-child(3n) {
  margin-right: 0;
}


.cat-nav {
  margin-bottom: 60px;
  font-size: 0;
}


.cat-nav li {
  display: inline-block;
  margin-right: 10px;
  padding: 19px 20px;
  font-size: 16px;
  text-align: center;
  border: 1px solid rgb(229, 229, 229);
}

.cat-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.cat-text {
  padding: 32px 30px;
  background-color: rgb(242, 246, 248);
}
